# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ROBA_R

config ZMK_KEYBOARD_NAME
    default "roBa"

config ZMK_BLE
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ROBA_R || SHIELD_ROBA_L

# NFC ピンを GPIO としてはもう使わない（deprecated 対策）
# config NFCT_PINS_AS_GPIOS
#     default y

config ZMK_SPLIT
    default y

config INPUT
    default y

config ZMK_POINTING
    default y

# IQS7211E は I2C 接続なので、SPI → I2C に変更
config I2C
    default y

# PAW3222 光学センサー（削除！）
# config PAW3222
#     default y

# RGB LED設定
config RGBLED_WIDGET_BATTERY_LEVEL_HIGH
    default 30

config RGBLED_WIDGET_BATTERY_LEVEL_CRITICAL
    default 10

endif
