#include "roBa.dtsi"

#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/* レイヤー番号のマクロ */
#define MOUSE 4

/* ========================================
 * RIGHT SIDE MATRIX SETTINGS
 * ======================================== */

/* 右手側の列オフセット */
&default_transform {
    col-offset = <6>;
};

/* 右手側の keyscan カラム定義 */
&kscan0 {
    col-gpios
        = <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d  9 GPIO_ACTIVE_HIGH>
        , <&xiao_d  8 GPIO_ACTIVE_HIGH>
        , <&xiao_d  7 GPIO_ACTIVE_HIGH>
        , <&gpio0  10 GPIO_ACTIVE_HIGH>
        ;
};

/* UART は使わないので無効化 */
&xiao_serial {
    status = "disabled";
};

/* ========================================
 * DISABLE OLD PAW3222 / SPI
 * ======================================== */

/*
 * PAW3222 は SPI 接続だったが、IQS7211E は I2C 接続。
 * SPI0 は使わないので明示的に無効化する。
 */
&spi0 {
    status = "disabled";
};

/*
 * roBa.dtsi 側に互換用の trackball ノードがあるため、
 * 念のため PAW3222 系ノードも無効化しておく。
 */
&trackball {
    status = "disabled";
};

&trackball_central {
    status = "disabled";
};

&trackball_listener {
    status = "disabled";
};

/* ========================================
 * IQS7211E I2C PIN SETTINGS
 * ======================================== */

/*
 * PAW3222 で使っていた GPIO を I2C 用に再利用。
 *
 * P0.04 = SDA
 * P0.05 = SCL
 *
 * 物理配線側も、
 * 旧 MOSI 線 → SDA
 * 旧 SCK 線  → SCL
 * に接続すること。
 */
&pinctrl {
    roba_iqs7211e_i2c0_default: roba_iqs7211e_i2c0_default {
        group1 {
            psels =
                <NRF_PSEL(TWIM_SDA, 0, 5)>,
                <NRF_PSEL(TWIM_SCL, 0, 4)>;
            bias-pull-up;
        };
    };

    roba_iqs7211e_i2c0_sleep: roba_iqs7211e_i2c0_sleep {
        group1 {
            psels =
                <NRF_PSEL(TWIM_SDA, 0, 5)>,
                <NRF_PSEL(TWIM_SCL, 0, 4)>;
            bias-pull-up;
            low-power-enable;
        };
    };
};

/* ========================================
 * IQS7211E TRACKPAD
 * ======================================== */

&i2c0 {
    status = "okay";
    compatible = "nordic,nrf-twim";

    pinctrl-0 = <&roba_iqs7211e_i2c0_default>;
    pinctrl-1 = <&roba_iqs7211e_i2c0_sleep>;
    pinctrl-names = "default", "sleep";

    clock-frequency = <I2C_BITRATE_STANDARD>;
    zephyr,concat-buf-size = <32>;

    #address-cells = <1>;
    #size-cells = <0>;

    trackpad_central: trackpad@56 {
        status = "okay";
        compatible = "azoteq,iqs7211e";
        reg = <0x56>;

        /*
         * PAW3222用FPCをそのまま使う場合:
         * PAW3222 CS / P0.09 が IQS7211E RDY に来る。
         */
        irq-gpios = <&gpio0 9 GPIO_PULL_UP>;

        /*
         * P0.09 は RDY として使うので、power-gpios には使わない。
         */
        /* power-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>; */

        /*
         * 通常のトラックパッドとして使うので、最初は scroller-mode は付けない。
         */
        /* scroller-mode; */
    };
};

/* ========================================
 * TEMP MOUSE LAYER SETTINGS
 * ======================================== */

&zip_temp_layer {
    /*
     * AML を解除したいキー位置。
     * 既存設定をそのまま維持。
     */
    excluded-positions = <7 16 18 19 20 22 31 32 33>;
    require-prior-idle-ms = <200>;
};

/* ========================================
 * INPUT PROCESSORS
 * ======================================== */

 / {
    input_processors {
        /* 水平スクロール用スケーラー */
        zip_scroll_x_scaler: zip_scroll_x_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_HWHEEL>;
            track-remainders;
        };

        /* 垂直スクロール用スケーラー */
        zip_scroll_y_scaler: zip_scroll_y_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

/* ========================================
 * INPUT LISTENER FOR IQS7211E
 * ======================================== */

/*
 * roBa.dtsi にある trackball_central_listener を再利用する。
 * 名前は trackball のままだが、実際の device は IQS7211E trackpad。
 */
&trackball_central_listener {
    compatible = "zmk,input-listener";
    status = "okay";
    device = <&trackpad_central>;

    /*
     * 1) トラックパッドが動いたら MOUSE レイヤーを 1000ms オン
     * 2) XY 反転を適用
     *
     * 向きが逆なら、下の INPUT_TRANSFORM_X_INVERT /
     * INPUT_TRANSFORM_Y_INVERT を調整する。
     */
    input-processors = <
        &zip_temp_layer MOUSE 1000
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
    >;

    /*
     * レイヤー 5: 縦スクロール専用
     */
    scroller_vertical {
        layers = <5>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &zip_scroll_x_scaler 0 1
            &zip_scroll_scaler 1 10
        >;
    };

    /*
     * レイヤー 3: 横スクロール専用
     */
    scroller_horizontal {
        layers = <3>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &zip_scroll_y_scaler 0 1
            &zip_scroll_scaler 1 10
        >;
    };
};
