#include "roBa.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
        , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
        , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
        , <&gpio0 10 GPIO_ACTIVE_HIGH>
        ;
};

// I2C設定（IQS7211E用）
&xiao_i2c {
    status = "okay";
    
    trackpad: trackpad@56 {
        compatible = "azoteq,iqs7211e";
        reg = <0x56>;
        status = "okay";
        
        // RDYピン（割り込み信号）
        irq-gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        
        // タッチパッドの解像度設定（オプション）
        // x-res = <1280>;
        // y-res = <1280>;
        
        // 感度設定（オプション）
        // touch-threshold = <50>;
    };
};

/ {
    trackpad_listener {
        compatible = "zmk,input-listener";
        status = "okay";
        device = <&trackpad>;
        
        // マウスカーソル速度の設定（オプション）
        // xy-multiplier = <8>;  // デフォルトは8
        // xy-divider = <1>;
    };
};
